@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center div-style-002 div-margin-001">
    <h1 class="display-6">Monumentos famosos</h1>
    <image src="images/coliseo.jpg" alt="Coliseo Romano" class="medium-image-001" />
</div>
